<h1>Round Editor</h1>
<form [formGroup]="editorForm">

    <mat-form-field hintLabel="mm/dd/yy">
      <mat-label><mat-icon>date_range</mat-icon> Date</mat-label>
      <input type="text" matInput formControlName="dateInput" />
    </mat-form-field>

    <mat-form-field>
        <mat-label><mat-icon>golf_course</mat-icon>Course</mat-label>
        <input type="text" matInput formControlName="courseInput" />
    </mat-form-field>

    <mat-form-field>
        <mat-label><mat-icon>attach_money</mat-icon>Greens Fee</mat-label>
        <input type="text" matInput formControlName="greensFeeInput" />
    </mat-form-field>

    <mat-chip-list [multiple]="false" formControlName="cartInput">
        <mat-chip color="primary" [value]="true" (click)="toggleCart(true)">Rode Cart</mat-chip>
        <mat-chip color="primary" [value]="false" (click)="toggleCart(false)">Walked</mat-chip>
    </mat-chip-list>
    
    
    <mat-checkbox labelPosition="after" color="primary" formControlName="ateFoodCheck">Food & Drink</mat-checkbox>
    
    <mat-form-field>
        <mat-label><mat-icon>restaurant</mat-icon>Food Cost</mat-label>
        <input type="text" matInput formControlName="foodInput" />
    </mat-form-field>
    
    <button mat-button type="button" class="btn-secondary">Cancel</button>
    <button mat-button type="button" class="btn-primary" [disabled]="editorForm.pristine || editorForm.invalid">Save</button>
</form>


<div class='form-info'>
    <p>Form Value: {{ editorForm.value | json }}</p>
    <p>Form status: {{ editorForm.status | json }}</p>
</div>
