mat-form-field,
mat-checkbox {
    display: block;
    font-size: 1.5em;
    margin-bottom: 20px;
}

mat-chip-list {
    display: block;
    margin-bottom: 40px;
}


mat-slide-toggle {
    color: blue;
}

.form-info {
    margin-top:20px;
    padding: 5px;
    background: #eee;
}
